@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css';

@import "../../node_modules/jquery-datetimepicker/jquery.datetimepicker.css";
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/*-----------------------header & footer---------------------*/
.navbar-expand-md{
    padding: 0 120px;
    height: 45px;
}
.navbar-brand{
    margin-right: 40px;
    background: #fff !important;
    height: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 30px;
}
.navbar-expand-md ul li a{
    font-size: 14px;
    color: #ffffff !important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-right: 1px solid #fff;
    padding: 0 10px;
}
.con_none {
    margin-right: 80px;
}
.con_none_a{
    border: none !important;
}
.icon li a{
    border: none !important;
}
.icon li a i{
    font-size: 22px;
    padding: 0 10px;
}
.dropdown-menu{
    background: #343A40 !important;
}
.dropdown-item{
    padding: 10px 0;
    border-bottom: 1px solid #fff !important;
}
.dropdown-item:hover{
    background: none;
}
.dropdown-toggle::after{
    display: none;
}
footer{
    padding: 10px 0 0;
    background: #303030;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Poppins";
}
footer ul li a:hover{
    text-decoration: none;
    color: #fff;
}
.footer_1{
    padding-left: 70px;
}
.footer_2{
    padding-left: 110px;
    padding-top: 20px;
}
.copyright{
    background: #CDCDCD;
    font-size: 12px;
}
.power{
    padding-left: 380px;
}
.copyright p{
    margin-bottom: 0px;
}
/*-------------------------index page css-----------------------*/
.banner{
    margin-top: 45px;
}
.carousel-item img{
    width: 100%;
    height: 500px;
}
.carousel-caption{
    width: 380px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 20px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
}
.carousel-item{
    position: relative;
}
.carousel-caption h3{
    font-size: 14px;
    margin-bottom: 20px;
}
.neighborhood{
    background: transparent;
    color: #fff !important;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 12px;
    padding: 10px;
}
.bed{
    background: transparent;
    color: #fff !important;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 12px;
    padding: 10px;
    width: 140px;
}
.bath{
    background: transparent;
    color: #fff !important;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 12px;
    padding: 10px;
    width: 140px;
}
.add{
    background: transparent;
    color: #fff !important;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 12px;
    border-radius: none;
    padding: 10px;
    margin-top: 10px;
}
.ui-content label{
    font-size: 12px;
}
.search{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    margin-top: 15px;
    margin-left: 230px;
    font-size: 14px;
    letter-spacing: 2px;
}
::placeholder{
    color: #fff !important;
    font-size: 12px;
}
.price{
    width: 135px;
}
.right_icon{
    position: absolute;
    top: 28%;
    right: 5%;
    z-index: 999;
}
.right_icon li{
    list-style: none;
    padding: 10px;
    transition: .6s;
    position: relative;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.right_icon li i{
    font-size: 18px;
}
/*.right_icon li:hover{
	padding: 10px 40px;
}*/
.right_icon::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 240px;
    background: #fff;
    top: 6%;
    right: 48%;
    z-index: -1;
}

/*---------------------------featured css---------------------*/
/*---------------------------featured css---------------------*/
.featured{
    margin-top: 20px;
}
.details{
    padding: 10px 12px;
}
.details h3{
    font-size: 35px;
    color: #303030;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    padding: 100px 0 0 17px;
    line-height: 23px;
}
.details h5{
    font-size: 26px;
    color: #b0b0b0;
    font-weight: 400;
    font-family: "Poppins";
    padding-left: 36px;
}
.details a{
    font-size: 14px;
    color: #0f1b2d;
    font-weight: 400;
    font-family: "Poppins";
    padding: 8px 30px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 30px;
    display: inline-block;
    margin: 24px 0 0 33px;
    position: relative;
}
.details a:hover{
    text-decoration: none;
}
.details a::before{
    position: absolute;
    content: '';
    width: 59px;
    height: 1px;
    background: #000;
    top: 50%;
    left: -19%;
}
.featured_image{
    position: relative;
    margin-top: 12px;
}
.featured_image img{
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: block;
    min-width: 616px;
}
.featured-next .featured_image img{
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: block;
    min-width: 393px;
}
.featured_image ul li{
    list-style: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.dolor{
    margin-left: 50px;
    margin-right: 280px;
    font-size: 22px;
    color: #fff;
}
.featured-next .dolor{
    margin-left: 50px;
    margin-right: 180px;
    font-size: 22px;
}
.featured_image ul{
    position: absolute;
    top: 90%;
}
.featured_image img:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 95%;
    height: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.featured_image:hover .overlay {
    height: 10%;

}
.text ul{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.text ul li{
    list-style: none;
    margin-left: 45px;
    margin-right: 0px;
    width: 248px;
    font-size: 13px;

}
.text {
    color: #000;
    font-size: 15px;
    position: absolute;
    top: 0%;
}
.view{
    background: #ccc;
    height: 45px;
    padding: 10px 35px;
}
.view a{
    color: #000 !important;
}
.view a:hover{
    text-decoration: none;
}
.featured-next .text ul{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.featured-next .text ul li{
    list-style: none;
    margin-left: 35px;
    margin-right: -15px;

}
.featured-next .text {
    color: #000;
    font-size: 15px;
    position: absolute;
    top: 0%;
}

/*---------------------------------.handbook---------------------------*/
.handbook{
    padding: 40px 0;
}
.handbook h2{
    font-size: 40px;
    color: #303030;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 30px;
}
.book{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 350px;
    background: #808080;
    margin-bottom: 20px;
}
.book h3{
    position: absolute;
    font-size: 23px;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-55%);
    color: #fff !important;
    z-index: 999;
    text-align: center;
}
.book img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,-22%);
}
.book a{
    position: absolute;
    font-size: 16px;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%);
    color: #fff !important;
    z-index: 999;
    text-align: center;
    padding: 4px 12px;
    border: 1px solid #fff;
    margin-top: 20px;
}
.book .hand_2 a{
    color: #000 !important;
    border: 1px solid #000;
}
.book .hand_4 a{
    color: #000 !important;
    border: 1px solid #000;
}
.book .hand_6 a{
    color: #000 !important;
    border: 1px solid #000;
}
.book a:hover{
    text-decoration: none;
}

.owl-carousel .owl-stage-outer{
    position: relative;
}
.owl-theme .owl-nav {
    position: absolute;
    top: 37%;
    font-size: 25px;
    color: #BDBDBD;
}
/*.owl-theme .owl-nav .owl-prev{*/
/*    margin-left: -60px;*/
/*}*/
/*.owl-theme .owl-nav .owl-next{*/
/*    margin-left: 1195px;*/
/*}*/
.index_more{
    font-size: 20px;
    background: #CDCDCD;
    padding: 15px 55px;
    margin: 30px 0 0 450px;
    color: #000;
    display: inline-flex;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 60px;
}

/*------------------modal---------------*/
.register .modal-body h2{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
/*.register{
	position: relative;
}*/
.register .modal-dialog{
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-15%,-30%);
}
.register .modal-body .form-control::focus{
    outline: none;
}
.register .modal-body .form-control{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0px;
}
.register .modal-content{
    background: rgba(0,0,0,.7);
    color: #fff;
    width: 150%;
}
.register .modal-body .send{
    text-align: center;
    margin-left: 220px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.register .modal-body .send:hover{
    background: #fff;
    color: #000;
}

/*------------------------------Buy Page css---------------------------------*/
.buy{
    padding: 40px 0;
}
.buy h2{
    font-size: 40px;
    color: #0f1b2d;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 20px;
}
.buy_category{
    position: relative;
    padding: 10px;
}
.buy_category h3{
    position: absolute;
    font-size: 22px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff !important;
    z-index: 999;
    text-align: center;
}
/*.buy_1{
    background-image: url(/images/c.jpg?d586d89c9af4f397281ce034cb453a26);
    background-size: cover;
    width: 100%;
    min-height: 290px;
}*/
/*.buy_2{
    background-image: url(/images/2d.jpg?04b95c425f0bf108d650159df6dffc45);
    background-size: cover;
    width: 100%;
    min-height: 290px;
}
.buy_3{
    background-image: url(/images/2c.jpg?88d12f091f21af1237a1185e6950ce82);
    background-size: cover;
    width: 100%;
    min-height: 290px;
}
.buy_4{
    background-image: url(/images/2a.jpg?a39a9c5d1ce3c87dec10fd20e0af13b5);
    background-size: cover;
    width: 100%;
    min-height: 290px;
}
.buy_5{
    background-image: url(/images/2e.jpg?9a4da612cde6228542727c23ce4424f5);
    background-size: cover;
    width: 100%;
    min-height: 290px;
}
.buy_6{
    background-image: url(/images/2f.jpg?e0143055ec5a7e5f3c7f5d88cec16484);
    background-size: cover;
    width: 100%;
    min-height: 290px;
}
.buy_7{
    background-image: url(/images/c.jpg?d586d89c9af4f397281ce034cb453a26);
    background-size: cover;
    width: 100%;
    min-height: 290px;
}
.buy_8{
    background-image: url(/images/a.jpg?3f6a0d98544e0ecc5e8a19c48702dd6f);
    background-size: cover;
    width: 100%;
    min-height: 290px;
}
.buy_9{
    background-image: url(/images/d.jpg?ffefbb4905725653b02480dd31bc3ce8);
    background-size: cover;
    width: 100%;
    min-height: 290px;
}*/
.trans_box img{
    width: 100%;
}
.trans_box{
    background-color: #000;
    opacity: 0.2;
    width: 100%;
    min-height: 290px;
}
.trans_box:hover{
    background-color: #000;
    opacity: 0.9;
    color: #fff !important;
}
.buy_view{
    font-size: 16px;
    background: #303030;
    padding: 15px 45px;
    margin: 30px 0 0 435px;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 40px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}
.buy_view:hover{
    color: #fff !important;
    text-decoration: none;
}


/*--------------------------------Agent page css-----------------------*/
.agent{
    padding: 30px 0;
    background-image: url(../image/1f.jpg);
    background-size: cover;
}
.agent h2{
    font-size: 40px;
    color: #0f1b2d;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 20px;
}
.agent_div{
    border: 3px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .5s;
}
.agent_div:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.agent_div img{
    width: 70%;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 55px 15px;
}
.agent_details{
    margin-top: 30px;
    margin-left: -30px;
}
.agent_details h3{
    font-size: 20px;
    color: #111c39;
    font-weight: 600;
    font-family: "Poppins";
}
.agent_details h5{
    font-size: 12px;
    color: #111c39;
    font-weight: 400;
    font-family: "Poppins";
}
.click_agent{
    font-size: 14px;
    color: #000;
    font-weight: 500;
}
.click_agent:hover{
    color: #000;
    text-decoration: none;
}
/*-----------------------feature page css---------------------*/
.top_para p{
    padding: 70px 70px 0px 70px;
    font-size: 15px;
    color: #030303;
    font-weight: 400;
    font-family: "Poppins";
}
.fade_slider{
    padding: 20px 50px;

}
.fade_slide_div{
    border: 1px solid #000;
    padding: 25px;
}
.image_fade img{
    width: 100%;
}
.image_fade{
    position: relative;
}
.image_fade h5{
    position: absolute;
    top: -6px;
    left: 91%;
    font-size: 12px;
    background: #000;
    z-index: 999;
    color: #fff;
    padding: 5px 10px;
    font-weight: 400;
}
.fade_div h3{
    font-size: 19px;
    color: #111112;
    font-weight: 500;
    font-family: "Poppins";
    padding: 20px;
    width: 100%;
}
.list_price ul li{
    list-style: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding-left: 45px;
}
.li_first{
    margin-right: 750px;
    font-size: 14px;
    font-size: 400;
}
.li_first span{
    font-size: 24px;
    font-weight: 600;
    margin-right: 12px;
}
.list_price{
    position: relative;
}
.list_price::before{
    position: absolute;
    content: "";
    width: 1360px;
    height: 1px;
    background: #000;
    top: 0%;
    left: 0%;
}
.list_price::after{
    position: absolute;
    content: "";
    width: 1360px;
    height: 1px;
    background: #000;
    top: 75%;
    left: 0%;
}
.fade_div p{
    font-size: 14px;
    line-height: 25px;
    color: #111112;
    font-weight: 300;
    font-family: "Poppins";
    padding: 10px;
    margin-bottom: 0px;
}
.button_feature{
    padding: 20px 20px 20px 45px;
}
.button_feature .btn{
    margin: 7px 7px;
    padding: 10px 50px;
}
.button_feature .btn:hover{
    background: #000;
    color: #fff;
}
.feature_slider{
    padding: 20px 50px;
}
.f_slider_start{
    border: 1px solid #000;
    padding: 25px;
}
.f_slider_start ..owl-carousel .owl-item img{
    height: 500px;
}
.fea_div{
    border: 1px solid #000;
    padding: 25px;
}
.f_slider_start .owl-next span{
    margin-left: 115px;
    font-size: 50px;
}
.f_slider_start .owl-prev span{
    margin-left: 66px;
    font-size: 50px;
}
.fea_div p{
    margin-top: 30px;
    font-size: 15px;
}
.fea_div .carousel-inner img {
    width: 100%;
    height: 100%;
}
.feature_details{
    padding: 20px 37px;
}
.snap_shot{
    padding: 40px 30px 20px;
    background: #ccc;
    color: #000;
    min-height: 505px;
}
.snap_shot h4{
    font-size: 30px;
    color: #1f1c1c;
    font-weight: 400;
    font-family: "Poppins";
    position: relative;
    margin-bottom: 35px;
}
.snap_shot h4::after{
    position: absolute;
    content: "";
    top: 150%;
    left: 0%;
    width: 550px;
    height: 1px;
    background: #666;
}
.snap_shot ul li{
    list-style: none;
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    color: #1f1c1c;
    font-weight: 400;
    font-family: "Poppins";
}
.fea_ture{
    padding: 40px 30px 20px;
    background: #ccc;
    color: #000;
    min-height: 505px;
}
.fea_ture h4{
    font-size: 30px;
    color: #1f1c1c;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom: 35px;
    position: relative;
}
.fea_ture h4::after{
    position: absolute;
    content: "";
    top: 150%;
    left: 0%;
    width: 550px;
    height: 1px;
    background: #666;
}
.fea_ture ul li{
    list-style: none;
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    color: #1f1c1c;
    font-weight: 400;
    font-family: "Poppins";
}

/*-----------------------compare page css---------------------*/
.top_para h2{
    padding: 70px 70px 0px 70px;
    font-size: 35px;
    color: #303030;
    font-weight: 700;
    font-family: "Poppins";
}
.top_para h4{
    padding: 0px 70px;
    font-size: 25px;
    color: #303030;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom: 20px;
}
.compare-div{
    padding: 20px 50px 50px;
}
.campare_detail_div img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}
.campare_detail_div select{
    width: 100%;
    font-size: 12px;
    height: 32px;
    padding: 0 10px;
}
.campare_detail_div h4{
    padding-bottom: 310px;
    font-size: 20px;
    color: #303030;
    font-weight: 600;
    font-family: "Poppins";
}
.campare_detail_div h4 i{
    font-size: 30px;
    color: #303030;
}
.campare_detail_div ul li{
    list-style: none;
    font-size: 16px;
    color: #303030;
    font-weight: 400;
    font-family: "Poppins";
    line-height: 40px;
}
.campare_detail_div ul li i{
    font-size: 20px;
    color: #303030;
    margin-right: 12px;
    min-width: 30px;
}
.campare_detail_div h5{
    font-size: 22px;
    color: #303030;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom: 0px;
    position: relative;
}
.campare_detail_div h3{
    font-size: 25px;
    color: #303030;
    font-weight: 500;
    font-family: "Poppins";
}
.campare_detail_div .light_btn{
    padding: 2px 20px;
    border: none;
    background: #ccc;
    font-size: 14px;
}
.campare_detail_div .dark_btn{
    padding: 2px 20px;
    border: none;
    background: #000;
    font-size: 14px;
    color: #fff;
}
.campare_detail_div h5::before{
    position: absolute;
    content: "";
    top: 0%;
    left: -5%;
    background: #ccc;
    width: 1px;
    height: 478px;
}
.campare_detail_div .view{
    padding: 10px 25px;
    background: #000;
    color: #fff;
    font-size: 14px;
}
.campare_detail_div .view:hover{
    text-decoration: none;
    color: #fff;
}

/*--------------------------cell property css---------------------*/
.cell_property{
    padding: 20px 50px;
}
.cell_details{
    border: 1px solid #000;
    padding: 25px;
}
.cell_details .carousel-item img{
    width: 100%;
    height: 450px;
}
.cell_details h5{
    font-size: 19px;
    color: #111112;
    font-weight: 500;
    font-family: "Poppins";
    margin: 20px 0 30px;
}
.list_price_sell ul li{
    list-style: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
}
.li_first_sell{
    margin-right: 320px;
    font-size: 14px;
    font-weight: 400;
}
.li_first_sell span{
    font-size: 24px;
    font-weight: 600;
    margin-right: 12px;
}
.list_price_sell{
    position: relative;
}
.list_price_sell::before{
    position: absolute;
    content: "";
    width: 865px;
    height: 1px;
    background: #d8d8d8;
    top: 0%;
    left: 0%;
}
.list_price_sell::after{
    position: absolute;
    content: "";
    width: 865px;
    height: 1px;
    background: #d8d8d8;
    top: 98%;
    left: 0%;
}
.cell_details ul li{
    list-style: none;
    font-size: 14px;
    line-height: 25px;
    color: #000;
    font-weight: 500;
    font-family: "Poppins";
}
.cell_details_para{
    position: relative;
}
.cell_details_para::before{
    position: absolute;
    content: "";
    width: 865px;
    height: 1px;
    background: #d8d8d8;
    top: 0%;
    left: 44%;
    transform: translate(-44%,0%);
}
.cell_details_para::after{
    position: absolute;
    content: "";
    width: 865px;
    height: 1px;
    background: #d8d8d8;
    top: 110%;
    left: 44%;
    transform: translate(-44%,-110%);
}
.cell_details_para p{
    font-size: 14px;
    line-height: 25px;
    color: #000;
    font-weight: 500;
    font-family: "Poppins";
}
.sell_para{
    margin-top: 10px;
}
.sell_para h4{
    font-size: 20px;
    line-height: 25px;
    color: #111112;
    font-weight: 500;
    font-family: "Poppins";
}
.sell_para p{
    font-size: 14px;
    line-height: 25px;
    color: #000;
    font-weight: 500;
    font-family: "Poppins";
    margin-bottom: 20px;
}
.down{
    display: block;
    padding: 8px 15px;
    background: #000;
    color: #fff;
    font-size: 16px;

}
.youtube{
    margin-top: 20px;
    display: block;
    color: red;
    font-size: 25px;
}
.youtube:hover{
    text-decoration: none;
    color: red;
}
.side_details_image .carousel-item{
    position: relative;
}
.side_details_image .carousel-caption{
    width: 300px;
    height: 10px;

    top: 93%;
    left: 60%;
    position: absolute;
    transform: (-60%,-93%);
}
.side_details{
    border: 1px solid #d8d8d8;
}
.side_details ul li{
    list-style: none;
    font-size: 16px;
    padding-left: 10px;
    line-height: 27px;
}
.side_details .row{
    padding: 20px;
}
.side_details_form{
    border: 1px solid #d8d8d8;
    padding: 20px;
}
.side_details_form h3{
    font-size: 25px;
    color: #0f1b2d;
    font-weight: 400;
    font-family: "Poppins";
}
.side_details_form h6{
    font-size: 19px;
    color: #0f1b2d;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom: 20px;
}
.side_details_form form input{
    border: 1px solid #000;
    height: 34px;
    border-radius: 0%;
}
::placeholder{
    font-size: 12px;
    color: #000 !important;
    background: transparent !important;
}
.side_details_form form h2{
    font-size: 32px;
    color: #ff0b0b;
    font-weight: 400;
    font-family: "Poppins";
}
.side_details_form form .notify{
    font-size: 24px;
    color: #272626;
    font-weight: 400;
    font-family: "Poppins";
    padding: 8px 130px;
    background: #CDCDCD;
    border-radius: 0%;
}
.side_details_image{
    border: 1px solid #d8d8d8;
    padding: 20px;
}
.side_details_image img{
    width: 100%;
    height: 300px;
}
.side_details_form1{
    border: 1px solid #d8d8d8;
    padding: 20px;
}
.side_details_form1 h3{
    font-size: 25px;
    color: #0f1b2d;
    font-weight: 400;
    font-family: "Poppins";
}
.side_details_form1 h6{
    font-size: 15px;
    color: #0f1b2d;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom: 20px;
}
.side_details_form1 form input{
    border: 1px solid #000;
    height: 34px;
    border-radius: 0%;
}
::placeholder{
    font-size: 12px;
    color: #000 !important;
    background: transparent !important;
}
.side_details_form1 select{
    display: block;
    width: 100%;
    height: 35px;
}
.form_reset{
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    width: 100%;
    height: 50px;
    background: #000;
}
.map iframe{
    width: 600px;
    height: 400px;
    margin-top: 50px;
}
.map p{
    font-size: 12px;
    color: #000;
    width: 270px;
}
/*--------------------------rent-listing page css-----------------------*/
.r_list{
    padding: 60px 0;
}
.r_list h2{
    font-size: 40px;
    color: #0f1b2d;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 45px;
}
.side_form{
    border: 1px solid #111112;
    padding: 20px;
}
.rent_listing_form{
    margin: 20px 0;
}
.rent_listing_form select{
    width: 305px;
    height: 40px;
    background: #D8D8D8;
    border: none;
}
.rent_listing_checkbox{
    margin-bottom: 30px;
}
.rent_listing_checkbox label{
    font-size: 15px;
    padding-right: 12px;
    position: relative;
}
.rent_listing_checkbox label::after{
    content: "";
    position: absolute;
    top: 178%;
    left: -12%;
    transform: translate(0%, -178%);
    width: 348px;
    height: 1px;
    background: #D8D8D8;
}
.rent_listing_checkbox input{
    width: 20px;
    height: 20px;
    border: 1px solid #D8D8D8 !important;
}
.ui-content input{
    width: 100%;
}
.ui-content label{
    font-size: 15px;
}
.ui-content ul li{
    list-style: none;
    display: inline-block;
    width: 47%;
    text-align: right;
    background: #D8D8D8;
    margin-right: 6px;
    padding: 4px;
}
.reset{
    padding: 8px 25px;
    background: #000;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-left: 7px;
    border: none;
    border-radius: 25px;
    margin-bottom: 25px;
    margin-top: 12px;
}
.search{
    padding: 8px 25px;
    background: #D7D7D7;
    font-size: 16px;
    text-align: center;
    color: #000;
    border: none;
    border-radius: 25px;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.rent_list_image{
    margin-bottom: 40px;
}
.rent_list_image p{
    font-size: 21px;
    color: #111112;
    font-weight: 500;
    font-family: "Poppins";
    margin-bottom: 30px;
    position: relative;
}
.rent_list_image p::after{
    content: "";
    position: absolute;
    top: 143%;
    left: 1%;
    transform: translate(-1%, -143%);
    width: 321px;
    height: 1px;
    background: #D7D7D7;
}
.rent_list_image h3{
    font-size: 13px;
    color: #111112;
    font-weight: 500;
    font-family: "Futura";
}
.rent_list_image h3 span{
    font-size: 30px;
    color: #303030;
    font-family: "Futura T";
}
.rent_list_image h5{
    font-size: 23px;
    color: #111112;
    font-weight: 500;
    font-family: "Futura";
}
.pagination{
    margin-left: 15px;
    margin-top: 5px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border:1px solid #D8D8D8;
}
.pagination a.active {
    background-color: #dfdfdf;
    color: white;
}


/*--------------------------rent-listing page css-----------------------*/
.r_list{
    padding: 60px 0;
}
.r_list h2{
    font-size: 40px;
    color: #0f1b2d;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 45px;
}
.side_form{
    border: 1px solid #111112;
    padding: 20px;
}
.rent_listing_form{
    margin: 20px 0;
}
.rent_listing_form select{
    width: 305px;
    height: 40px;
    background: #D8D8D8;
    border: none;
}
.rent_listing_checkbox{
    margin-bottom: 30px;
}
.rent_listing_checkbox label{
    font-size: 15px;
    padding-right: 12px;
    position: relative;
}
.rent_listing_checkbox label::after{
    content: "";
    position: absolute;
    top: 178%;
    left: -12%;
    -webkit-transform: translate(0%, -178%);
    transform: translate(0%, -178%);
    width: 348px;
    height: 1px;
    background: #D8D8D8;
}
.rent_listing_checkbox input{
    width: 20px;
    height: 20px;
    border: 1px solid #D8D8D8 !important;
}
.ui-content input{
    width: 100%;
}
.ui-content label{
    font-size: 15px;
}
.ui-content ul li{
    list-style: none;
    display: inline-block;
    width: 47%;
    text-align: right;
    background: #D8D8D8;
    margin-right: 6px;
    padding: 4px;
}
.reset{
    padding: 8px 25px;
    background: #000;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-left: 7px;
    border: none;
    border-radius: 25px;
    margin-bottom: 25px;
    margin-top: 12px;
}
.search{
    padding: 8px 25px;
    background: #D7D7D7;
    font-size: 16px;
    text-align: center;
    color: #000;
    border: none;
    border-radius: 25px;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 25px;
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    width: 100%;
}
.ui-widget-header {
    background: #4d79ff !important;
}
.ui-slider .ui-slider-handle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.ui-slider .ui-slider-handle::focus{
    outline: none;
}
.rent_list_image{
    margin-bottom: 40px;
}
.rent_list_image p{
    font-size: 21px;
    color: #111112;
    font-weight: 500;
    font-family: "Poppins";
    margin-bottom: 30px;
    position: relative;
    min-height: 100px;
}
.rent_list_image p::after{
    content: "";
    position: absolute;
    top: 129%;
    left: 1%;
    -webkit-transform: translate(-1%, -129%);
    transform: translate(-1%, -129%);
    width: 321px;
    height: 1px;
    background: #D7D7D7;
}
.rent_list_image h3{
    font-size: 13px;
    color: #111112;
    font-weight: 500;
    font-family: "Futura";
}
.rent_list_image h3 span{
    font-size: 30px;
    color: #303030;
    font-family: "Futura T";
}
.rent_list_image h5{
    font-size: 23px;
    color: #111112;
    font-weight: 500;
    font-family: "Futura";
}
.pagination{
    margin-left: 15px;
    margin-top: 5px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border:1px solid #D8D8D8;
}
.pagination a.active {
    background-color: #dfdfdf;
    color: white;
}

/*Slider*/
.price-range-block {
    margin:60px;
}

.sliderText{
    width:40%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}

.ui-slider-horizontal {
    height: .6em;
}
.ui-slider-horizontal {
    margin-bottom: 15px;
    width:40%;
}
.ui-widget-header {
    background: #3FE331;
}

.price-range-search {
    width:40.5%;
    background-color: #f9f9f9;
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom:20px;
    font-size:16px;
}

.search-results-block{
    position: relative;
    display: block;
    clear: both;
}


#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}